<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alex.loyola">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".MainActivity" />-->
        <activity android:name=".LoginActivity" />
        <activity android:name=".UserRegisterActivity" />
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".NewMsgBothActivity" />
        <activity android:name=".newmsgstaffActivity" />
        <activity
            android:name=".adminhomepageActivity"
            android:label="@string/title_activity_adminhomepage"
            android:theme="@style/AppTheme"/>
        <activity android:name=".SliderNavigation"/>
    </application>

</manifest>